/* .homepage-header {
    background-image: url(http://localhost:3000/header.png);
    height: 20vh;
    width: 100%;
    background-size: 100vw;
    background-position: -1vh;
    background-repeat: no-repeat;
    padding-top: none;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */