@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 3000px;
  margin: 0 auto;
}

.App {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.homepage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar {

}

.homepage-header>div {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.homepage-title {
  flex: 2;
}

.homepage-title h1 {
  padding-left: 2rem;
  color: #1384ae;
}

.navbar {
  flex: 1;
  white-space: nowrap;
}

#auth {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.home-headerimage {
  background-image: url(http://localhost:3000/headerimage.jpg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.home-showtopthreads {
  background-color: rgba(255, 255, 255, 0.508);
  margin-top: -30vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 1.5rem 7rem 1.5rem 7rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.home-topfivetitle {
  display: inline-block;
  color: #1384ae;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}

.thread-info-section h2 a {
  color: #1384ae;
  text-decoration: none;
}

.thread-info-section h2 a:hover {
  color: #0a4155;
  text-decoration: none;
}

.headerimage div {
  margin-top: 40vh;
  /* background-color: white;
  padding: 300px */
}

/* 
nav {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  margin-bottom: 50px;
  
} */

nav a {
  /* border: 1px solid rgb(255, 255, 255); */
  /* width: 20vw; */
  padding: 1rem;
  color: #1384ae;
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
}

nav a:hover {
  background: #EEE;
}


h1 {
  padding: 0;
  margin: 0;
}

.img-vote {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.downvote {
  transform: rotate(180deg);
}

.vote-section {
  margin-top: 1rem;
  display: flex;
}

.upvote-section {
  margin-right: 2rem;
  color: #259fcc;
  font-size: 1.2rem;
  display: flex;
}

.downvote-section {
  color: red;
  font-size: 1.2rem;
  display: flex;
}

.vote-count {
  margin-left: 0.5rem;
}

.user-section {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.user-image-section {
}

.user-image {
  width: 40px;
  border-radius: 50%;
}

.user-name-section {
  font-size: 1.3rem;
  color: saddlebrown;
  margin-left: 0.5rem;
}

.allcomments-page {
  padding-left: 2rem;
}

.allcomments-header {
  color: skyblue;
}

.allcomments-form {
  margin-bottom: 3rem;
}

.input {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid grey;
  border-radius: 5% 0 0 5%;
}

.allcomments-button {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  color: white;
  background-color: red;
  border: 1px solid grey;
  border-radius: 0 5% 5% 0;
}

#new-thread {
  margin: 0 auto;
  padding: 14px;
}

.new-thread-div {
  border-width: 1px;
  border-style: solid;
  border-color: #b7ddf2;
  background: #ebf4fb;
  max-width: 600px;
}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-control label{
  font-size: 1.5rem;
  width: 160px;
}

.form-control > * {
  display: block;
}

.new-thread h1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #b7ddf2;
  margin-bottom: 50px;
}

#new-thread input {
  font-size: 11px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  display: block;
  text-align: left;
}

.newthread-input {
  width: 100%;
}

.newthread-textarea {
  height: 10rem;
  width: 100%;
}

.new-thread-button {
  margin-left: 125px;
}
